.bundle/
.DS_Store
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/config/cloudinary.yml
bin/


config/cloudinary.yml

# Should not go into published repository
Gemfile.lock

# Failed rspec examples
spec/examples.txt
