default: &default
  enhance_image_tag: true
  static_image_support: true
  cdn_subdomain: true
  secure_distribution: false
  private_cdn: false
  cloud_name: zogash
  api_key: 'xxx'
  api_secret: xxx

development:
  <<: *default

test:
  <<: *default
