<!DOCTYPE html>
<html>
<head>
  <title>Attachinary</title>
  <%= stylesheet_link_tag    "attachinary/application", :media => "all" %>
  <%= javascript_include_tag "attachinary/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
